/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.portfolio-section { /*al padre del contenedor (los elementos se le da flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.content-box {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 200px; /*/200% no de la pagina sino del contenedor padre, esto "%" ayuda a diseño responsibo, que se adapte la pagina a varias deminesiones, pc,celu */
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.content-box h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}

.content-box p {
    font-size: 1em;
    color: #666;
}